/*
* The font used in Figma is Assistant which is equivalent to this google font
* https://fonts.google.com/specimen/Assistant?query=Assistant
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Color Variables for this project */
:root {
  --color-background: #ffffff;
  --color-background-light: #f8f8f8;

  --color-border: #979797;
  --color-border-darker: #c4c4c4;

  --color-text: #262223;
  --color-text-dark: #262223;
  --color-accent: #ffe82f;
  --color-accent-dark: #f1da2c;
}

/* Other Global variables */
:root {
  --container-width: 1280px;
  --container-padding: 72px;
  --container-padding-mobile: 20px;
  --sections-spacing: 48px;
  --sections-spacing-mobile: 32px;
  --font-family: 'Poppins', sans-serif
}

/* Placeholder for a dark theme if I have time :) */
/* @media (prefers-color-scheme: dark) {

} */


/* Base page styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 16px;
}

main {
  padding: 4.5rem 0;
}

h1,
h2,
h3 {
  color: var(--color-text-dark);
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: var(--color-text);
}

input,
textarea {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  padding: 12px 16px;
  box-shadow: none;
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
  transition: border 0.2s ease 0s;
}

input:focus,
textarea:focus {
  border-color: var(--color-border-darker);
  outline: none;
}

input {
  min-height: 28px;
}

input:focus {
  border-color: var(--color-border-darker);
  outline: none;
}

input+input {
  margin-top: 16px;
}

textarea {
  min-height: 108px;
  resize: none;
}

/* Select Reset */
select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 8px 32px 8px 12px;
  margin: 0;
  width: 100%;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: normal;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  color: #6b6b6b;
}


/* Global Utility Classes */
.container {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 var(--container-padding-mobile);
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--container-padding);
  }
}

.image-placeholder {
  width: 100%;
  background: var(--color-background-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.aspect-ratio-1 {
  aspect-ratio: 1;
}

.aspect-ratio-3-2 {
  aspect-ratio: 3 / 2;
}

.button {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  font-weight: 700;
  letter-spacing: .1rem;
  display: block;
  height: 40px;
  text-align: center;
  min-width: 160px;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: var(--color-accent-dark);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.8;
}
